@font-face {
    font-family: 'Rubik';
    src: url('./Rubik-Regular.ttf');
}

@font-face {
    font-family: 'Karla';
    src: url('./Karla-Regular.ttf');
}

@font-face {
    font-family: 'Rambla';
    src: url('./Rambla-Regular.ttf');
}