* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style-type: none;
}

/* body{
  position: relative;
} */

img {
  vertical-align: middle;
}


.container {
  width: 100%;
  max-width: 1340px;
  padding: 0px 20px;
  margin: 0 auto;
}

/* LOADER */

.loading {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid black;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* LOADER END */